POSTGRES_DB=ascendia
POSTGRES_USER=ascendia
POSTGRES_PASSWORD=ganti_password_database_yang_panjang
AUTH_SECRET=ganti_rahasia_aplikasi_minimal_32_karakter_dan_unik
AUTH_TOKEN_TTL_SECONDS=43200
DB_POOL_SIZE=20
DOMAIN=domain-anda.com
CORS_ORIGIN=https://domain-anda.com
